@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }


.noto-serif {
  font-family: "Noto Serif", serif;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}

:root {
    --primary-color: #027092; /* #027092 */
    --secondary-color: #FFFFFA ; /* #FFFFFA */
    --accent1-color:#0091C2;
    --accent2-color:#21BCE3; /* #21BCE */
    --background-color: #FFFFFF; /* #FFFFFF */

    --heading-font: 'Bebas Neue', Bebas;
    --paragraph-font: 'Noto Serif', serif;

    --nav-background-color: #FFFFFA;
    --nav-link-color: #027092;
    --nav-hover-link-color: #21BCE3 ;
    --nav-hover-background-color:#0091C2;

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
}

h1 {
    background-color: #FFFFFA;
}

header{
    padding: 20px;
    background-color: var(--secondary-color);
    display:grid;
    grid-template-columns: 500px 2fr 2fr 2fr;
    align-items: center;
    margin: 1rem auto;

}

header img {
    display:grid;
    align-content: center;
    margin: 1rem auto;
}

p{
    padding: 25px;
    
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
    flex-direction: row;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color); ;
}



/* HOME CODE */
.all {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
    'aside' 'main' 'aside'
    'section' 'section' 'section'
    ;
}

.all aside {
    grid-column: 1/2;
    grid-row: 1;
    outline: 10px solid #027092;
}


.all article {
    grid-column: 3/4;
    grid-row: 1;
    

}

.all section {
    grid-column: 1/4;
    grid-row: 2;

}
/* HERO IMAGE CODE */
.hero2 div {
    position: relative;
    
}



.hero2 h1{
    display:block;
    position: absolute;
    margin-top: 90px;
    margin-left: 100px;
    text-align: center;
}
    

.hero2 article {
    position:absolute;
    background-color: #FFFFFA;
    opacity: 90%;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 9px;
    font-size: 10.5px;
    text-align: right;
    padding: 0;
   
}



.hero2 img{
    display: block;
    width: 100%;
    height: auto;
    float: left;
    padding: 1rem;
    opacity:100%;
    
}
/* ARTICLE */
.b {
    border: 10px double #027092;
    float:right;
    text-align: right;
    padding-left: 1.5%;
    margin-left: 20px;
}
/* ASIDE CODE */
.fm h2 {
    font-size: 1rem;
    margin-left: 30px;
    position: relative;
}


.fm input[type=text], input[type=useremail] {
    margin-top: 15px;
    width: 80%;
    display: table;
    border: 2px solid #027092;
    border-radius: 2px;
    box-sizing: border-box;

}
.fm input[type=checkbox]{
    padding: 1rem;
    display: inline-table;
    font-size: .9rem;
  }

.fm input[type=submit] {
    padding: 14px 20px;
    margin: 7px 0;
    background-color: #0091C2;
    color: #0091C2;

}
/* MAIN SECTION CODE */

.main img {
    width: 200px;
    height: 200px;
}

.main {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 50% 50%;
    
    
}

.main h2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 35%;
}

.main p{
    margin-top: 30%;
    text-align: justify;
}