@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }


.noto-serif {
  font-family: "Noto Serif", serif;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}

:root {
    --primary-color: #027092; /* #027092 */
    --secondary-color: #FFFFFA ; /* #FFFFFA */
    --accent1-color:#0091C2;
    --accent2-color:#21BCE3; /* #21BCE */
    --background-color: #FFFFFF; /* #FFFFFF */

    --heading-font: 'Bebas Neue', Bebas;
    --paragraph-font: 'Noto Serif', serif;

    --nav-background-color: #FFFFFA;
    --nav-link-color: #027092;
    --nav-hover-link-color: #21BCE3 ;
    --nav-hover-background-color:#0091C2;

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
}

h1 {
    background-color: #FFFFFA;
}

header{
    padding: 20px;
    background-color: var(--secondary-color);
    display:grid;
    grid-template-columns: 500px 2fr 2fr 2fr;
    align-items: center;
    margin: 1rem auto;

}

header img {
    display:grid;
    align-content: center;
    margin: 1rem auto;
}

p{
    padding: 25px;
    
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
    flex-direction: row;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color); ;
}

/* ABOUT US CODE */
main {
    display: grid;
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 20px;
}
.hero div {
    position: relative;
}


.hero h1{
    display:block;
    position: absolute;
    margin-top: 150px;
    margin-left: 350px;
    
}

.hero article {
    position:absolute;
    background-color: #FFFFFA;
    opacity: 90%;
    margin-top: 250px;
    margin-left: -20px;
    margin-right: 290px;
    margin-bottom: 250px;
}


.hero img{
    display: block;
    width: 100%;
    height: auto;
    float: right;
    padding: 1rem;
    opacity:100%;
    
}

.homegrid {
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
}

.forme {
    grid-column: 2/3;
    grid-row: 2;
}

.indexf {
    grid-column: 3/4;
    grid-row: 2;
}