@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #027092;
    --secondary-color: #FFFFFA;
    --accent1-color:#0091C2;
    --accent2-color:#21BCE3;
    --background-color: #FFFFFF;

    --heading-font: 'Bebas Neue', Bebas;
    --paragraph-font: 'Noto Serif', serif;

    --nav-background-color: #FFFFFA;
    --nav-link-color: #027092;
    --nav-hover-link-color: #21BCE3 ;
    --nav-hover-background-color:#0091C2;

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--secondary-color);
}

p{
    padding: 25px;
    
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color); ;
}

/* all good till this */
.hero img{
    display: block;
    width: 100%;
    height: auto;
    float: right;
    padding: 2rem;
}


h1{
    position: absolute;
}
article {
    position:absolute;
    background-color: #FFFFFA;
    opacity: 80%;
}

.hero div {
    position: relative;
}

.hero article img {
    float: right;
    width: 200px;
}