@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }


.noto-serif {
  font-family: "Noto Serif", serif;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}

:root {
    --primary-color: #027092; /* #027092 */
    --secondary-color: #FFFFFA ; /* #FFFFFA */
    --accent1-color:#0091C2;
    --accent2-color:#21BCE3; /* #21BCE */
    --background-color: #FFFFFF; /* #FFFFFF */

    --heading-font: 'Bebas Neue', Bebas;
    --paragraph-font: 'Noto Serif', serif;

    --nav-background-color: #FFFFFA;
    --nav-link-color: #027092;
    --nav-hover-link-color: #21BCE3 ;
    --nav-hover-background-color:#0091C2;

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
}

h1 {
    background-color: #FFFFFA;
}

header{
    padding: 20px;
    background-color: var(--secondary-color);
    display:grid;
    grid-template-columns: 500px 2fr 2fr 2fr;
    align-items: center;
    margin: 1rem auto;

}

header img {
    display:grid;
    align-content: center;
    margin: 1rem auto;
}

p{
    padding: 25px;
    
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
    flex-direction: row;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color); ;
}

/* HOME CODE */
.all {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
    'aside' 'main' 'aside'
    'section' 'section' 'section'
    ;
}

.all aside {
    grid-column: 1/2;
    grid-row: 1;
    outline: 10px solid #027092;
}


.all article {
    grid-column: 3/4;
    grid-row: 1;
    
    
}

.all section {
    grid-column: 1/4;
    grid-row: 2;

}
/* HERO IMAGE CODE */
.hero2 div {
    position: relative;
    
}



.hero2 h1{
    display:block;
    position: absolute;
    margin-top: 90px;
    margin-left: 100px;
    text-align: center;
}
    

.hero2 article {
    position:absolute;
    background-color: #FFFFFA;
    opacity: 90%;
    margin-top: 150px;
    margin-left: 10px;
    margin-right: 9px;
    font-size: 10.5px;
    text-align: right;
    padding: 0;
   
}



.hero2 img{
    display: block;
    width: 100%;
    height: auto;
    float: left;
    padding: 1rem;
    opacity:100%;
    
}
/* ARTICLE */
.b {
    border: 10px double #027092;
    float:right;
    text-align: right;
    padding-left: 1.5%;
    margin-left: 20px;
}
/* ASIDE CODE */
.fm h2 {
    font-size: 1rem;
    margin-left: 30px;
    position: relative;
}


.fm input[type=text], input[type=useremail] {
    margin-top: 15px;
    width: 80%;
    display: table;
    border: 2px solid #027092;
    border-radius: 2px;
    box-sizing: border-box;

}
.fm input[type=checkbox]{
    padding: 1rem;
    display: inline-table;
    font-size: .9rem;
  }

.fm input[type=submit] {
    padding: 14px 20px;
    margin: 7px 0;
    background-color: #0091C2;
    color: #0091C2;

}
/* MAIN SECTION CODE */

.main img {
    width: 200px;
    height: 200px;
}

.main {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 50% 50%;
    
    
}

.main h2 {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-left: 35%;

}


.main p{
    margin-top: 30%;
    text-align: justify;
}

/* ABOUT US CODE */
main {
    display: grid;
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: minmax(100px, auto);
    grid-row-gap: 20px;
}
.hero div {
    position: relative;
}


.hero h1{
    display:block;
    position: absolute;
    margin-top: 150px;
    margin-left: 350px;
    margin-bottom: 140px;
    font-size: 4em;
    background-color: #FFFFFA;
    opacity: 80%;
    
}

.hero article {
    position:absolute;
    background-color: #FFFFFA;
    opacity: 90%;
    margin-top: 250px;
    margin-left: -20px;
    margin-right: 290px;
    margin-bottom: 250px;
}


.hero img{
    display: block;
    width: 100%;
    height: auto;
    float: right;
    padding: 1rem;
    opacity:100%;
    
}

.hero article img {
    float: right;
    width: 200px;
}

/* HISTORY CODE */

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

.history h1 {
    position: relative;
    align-self: center;
    justify-self: center;
}

.history h2 {
    display: flex;
    align-self: flex-start;
    justify-self: center;
    font-size: 3em;

}

.history img{
    width: 200px;
    height: 200px;
    grid-column:2;
    place-self: center;
    z-index: 1;
}

.history p1 {
    grid-column: -1/2;
    grid-row: 2;
}

.history div {
    grid-column: 1;
    grid-row: 1;
    justify-items: center;
}
    
.solo {
    display: flex;
    align-self: center;
    justify-self: center;
    font-size: 2.5em;
    border-bottom: 5px solid #027092;
    margin-left: 300px;

}
.figs {
    display: flex;
    padding-top: 10px;
   flex-direction: row; 
   align-content: space-evenly;
   margin-top: 100px;
   

} 

.figs img{
    width: 150px;
    height: 150px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.sociallinks {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

/* CONTACT US CODE */
.map h1 {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 0;
    margin-left: 350px;
}

.team h2{
    display: flex;
    justify-self: center;
    position: relative;
    margin-left: 350px;
}

/* MAP CODE */

.map {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:space-around;
    border: 10px solid #027092;
}

.map p {
    padding: 0;
}

.map li {
    padding: 1.2rem;
}
.map iframe{
    width: 40%;
    height: 60%;
    justify-items: flex-end;
}

 /* TEAM CODE */
.team {
    display:flex;
    flex-direction: row;
    align-content: space-between;
 }

.team img {
    height: 300px;
    width: 300px;
    border-radius: 90%;
}

.team figcaption {
    display: flex;
    justify-items: center;
}

/* FORM CODE */
form{
    display: block;
    justify-items: center;
}
fieldset {
    border-color: #0091C2;
    position: relative;
    display: grid;
    /*grid-column: 5px;
    grid-row: 5px;*/
    width: 50%
}
legend{
  position: relative;
}

input{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    width:50%;
    position: relative;
}

button {
    justify-self: center;
}


/*TRIPS CODE */


.trips {
    display:grid;
    grid-column-gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
    'table' 'section'
    'table' 'article'
    ;

}

.tocontact section {
    justify-content: end;
    align-content: end;
}

/* TABLE CODE */
.table table {
        align-items: center;
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        font-family: var(--paragraph-font);
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin-top: 90px;
      }

.table td {
        padding: 8px 10px;
      }
      
.table tbody > tr:nth-of-type(even) {
        background-color:#21BCE3;
      }

/* CONTACT CODE */
      
.tocontact img {
    align-self: center;
    width: 100%;
    height: 20%;
    margin-top: 100px;
}

.tocontact div {
    margin: 10px auto;
    position: relative;
    border: 10px solid #027092;
}

/* PICTURES CODE */

.tripf {
    display: flex;
    flex-direction: row; 
    align-self: flex-end;
    margin-top: 100px; 
    margin-left: 490px;
    
}



.tripf img {
    width: 200px;
    height: 200px;
}
/* TITLES CODE */
.titlet h1 {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    font-size: 1.5rem;
   
}

.tripf h2 {
    font-size: 1.3rem;
    position: absolute;
    display:flex;
    flex-direction: row;
    margin-bottom: 80%;
    
}

