/*DEFAULT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
  }


.noto-serif {
  font-family: "Noto Serif", serif;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: 
    "wdth" 100;
}

:root {
    --primary-color: #027092; /* #027092 */
    --secondary-color: #FFFFFA ; /* #FFFFFA */
    --accent1-color:#0091C2;
    --accent2-color:#21BCE3; /* #21BCE */
    --background-color: #FFFFFF; /* #FFFFFF */

    --heading-font: 'Bebas Neue', Bebas;
    --paragraph-font: 'Noto Serif', serif;

    --nav-background-color: #FFFFFA;
    --nav-link-color: #027092;
    --nav-hover-link-color: #21BCE3 ;
    --nav-hover-background-color:#0091C2;

}

body{
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    position: absolute;
}

h1 {
    background-color: #FFFFFA;
}

header{
    padding: 20px;
    background-color: var(--secondary-color);
    display:grid;
    grid-template-columns: 500px 2fr 2fr 2fr;
    align-items: center;
    margin: 1rem auto;

}

header img {
    display:grid;
    align-content: center;
    margin: 1rem auto;
}

p{
    padding: 25px;
    
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display:flex;
    flex-direction: row;
}

nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited{
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color); ;
}


/*TRIPS PAGE CODE */

.trips {
    display:grid;
    grid-column-gap: 1rem;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;
    grid-template-areas: 
    'table' 'section'
    'table' 'article'
    ;
}

.tocontact section {
    justify-content: end;
    align-content: end;
}

/* TABLE CODE */
.table table {
        align-items: center;
        border-collapse: collapse;
        border: 2px solid rgb(140 140 140);
        font-family: var(--paragraph-font);
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin-top: 90px;
      }

.table td {
        padding: 8px 10px;
      }
      
.table tbody > tr:nth-of-type(even) {
        background-color:#21BCE3;
      }

/* CONTACT CODE */
      
.tocontact img {
    align-self: center;
    width: 100%;
    height: 20%;
    margin-top: 100px;
}

.tocontact div {
    margin: 10px auto;
    position: relative;
    border: 10px solid #027092;
}

/* PICTURES CODE */

.tripf {
    display: flex;
    flex-direction: row; 
    align-self: flex-end;
    margin-top: 100px; 
    margin-left: 490px;
    
}



.tripf img {
    width: 200px;
    height: 200px;
}
/* TITLES CODE */
.titlet h1 {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    font-size: 1.5rem;
   
}

.tripf h2 {
    font-size: 1.3rem;
    position: absolute;
    display:flex;
    align-content: start;
    
}